.full-height {
    height:100%
}

.user-info-field {
    background: transparent;
    border-radius: 6px;
    color: #666666;
    -moz-box-shadow: 1px 1px 3px #888;
    -webkit-box-shadow: 1px 1px 3px #888;
    box-shadow: 1px 1px 3px #888;
    margin-top:8px;
    margin-bottom:8px;
}