<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    
    
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/ngStorage.min.js"></script>
    
    <script src="javascripts/pages/index.js"></script>

</head>

<body>
    <div ng-app="indexPage" ng-controller="indexController" class="container">
        <div class="container" style="text-align:center">
            Play Gomoku / Renju Online
        </div>
    </div>
</body>
    
</html>