<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/pages/game.css">
    
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/angular.min.js"></script>
    
    <script src="javascripts/pages/game.js"></script>
    <script src="javascripts/tools.js"></script>
    
    <script>      
        boardApp = angular.module('boardApp', []);
        
        boardApp.controller('boardController', function($rootScope, $scope) {
            $scope.moves = [
                {seq:1, ordinate: {x:8, y:8}},
                {seq:2, ordinate: {x:8, y:9}},
                {seq:3, ordinate: {x:8, y:6}},
                {seq:4, ordinate: {x:9, y:10}},
                {seq:5, ordinate: {x:9, y:6}},
                {seq:6, ordinate: {x:9, y:9}},
                {seq:7, ordinate: {x:7, y:9}},
                {seq:8, ordinate: {x:7, y:8}},
                {seq:9, ordinate: {x:10, y:11}},
                {seq:10, ordinate: {x:11, y:13}}
            ];
            
            // ----
            // Util
            // ----
            
            $scope.transOrigToReadableX = function(pX) {
                return String.fromCharCode(97 + pX);
            }
            
            $scope.transOrigToReadableY = function(pY, boardSize) {
                return '' + (boardSize - pY);
            }
            
            // ----
            // Data Model
            // ----
            $scope.board = {};
            
            $scope.board.size = 15;
            $scope.board.width = 600;
            $scope.board.height = 600;
            $scope.board.gridWidth = $scope.board.width / $scope.board.size;
            $scope.board.gridHeight = $scope.board.height / $scope.board.size;
            
            $scope.board.grids = [$scope.board.size];
            $scope.board.xAxis = [$scope.board.size];

            //Board Background
            for (var y = 0; y < $scope.board.size; y++) {
                $scope.board.grids[y] = [$scope.board.size];
                $scope.board.grids[y].y = y;
                for (var x = 0; x < $scope.board.size; x++) {
                    $scope.board.grids[y][x] = {
                        ordinate:{x:x, y:y}
                    };
                        
                    $scope.board.grids[y][x].style = {
                        width:  $scope.board.gridWidth,
                        height: $scope.board.gridHeight,
//                        position: 'relative',
                        backgroundSize:'100%',
                        backgroundImage: '',
                    };
                    
                    //Decide background-image
                    var xChar = 'c';
                    var yChar = 'c';
                    
                    if (y == 0) {
                        yChar = 't';
                    } else if (y == $scope.board.size - 1) {
                        yChar = 'b';
                    }
                    if (x == 0) {
                        xChar = 'l';
                    } else if (x == $scope.board.size - 1) {
                        xChar = 'r';
                    }
                    
                    if ((x == 3 || x == $scope.board.size - 4) && 
                       (y == 3 || y == $scope.board.size - 4)) {
                        xChar = 's'; yChar = 'p';
                    } else if (x == Math.floor($scope.board.size / 2) &&
                              y == Math.floor($scope.board.size / 2)) {
                        xChar = 's'; yChar = 'p';
                    }
                    var imgName = 'e' + xChar + yChar;
                    
                    $scope.board.grids[y][x].style.backgroundImage = 'url(./images/board/' + imgName + '.gif)';
                }
            }
            
            // x-axis, y-axis
            for (var i = 0; i < $scope.board.size; i++) {
                $scope.board.xAxis[i] = $scope.transOrigToReadableX(i);
            }
            
            //
            for (var i in $scope.moves) {
                $scope.board.grids[$scope.moves[i].ordinate.y][
                $scope.moves[i].ordinate.x].move = $scope.moves[i];
            }
            
            //　----
            //  User Interaction
            //  ----
            $scope.mouseOnBoard = function(grid) {
                console.log('mouseMove on (' + grid.ordinate.x + ', ' + grid.ordinate.y + ')');
//                console.log('previewStoneWidth:' + $scope.board.moveStyle.width);
                //Preview stone
                $scope.board.grids[grid.ordinate.y][grid.ordinate.x].previewMove = true;
            }
            
            $scope.mouseOutBoard = function(grid) {
                console.log('mouseOut on (' + grid.ordinate.x + ', ' + grid.ordinate.y + ')');
                //Preview stone
                $scope.board.grids[grid.ordinate.y][grid.ordinate.x].previewMove = false;
            }
            
        });
        
    </script>
    

</head>

<body>
    <div ng-app="boardApp" ng-controller="boardController" class="board">
        <table>
            <tr>
                <td></td>
                <td ng-repeat="x in board.xAxis">
                    {{x}}
                </td>
                <td></td>
            </tr>
        
            <tr ng-repeat="row in board.grids">
                <td>
                    {{transOrigToReadableY(row.y, board.size)}}
                </td>
                <td ng-repeat="grid in row" ng-style="grid.style" ng-mousemove="mouseOnBoard(grid)" ng-mouseleave="mouseOutBoard(grid)">
                    <div ng-show="!grid.move" >
                        <img src="./images/board/black.png" ng-show="grid.previewMove && moves.length % 2 == 0" style="width:95%; height:95%" />
                        <img src="./images/board/white.png" ng-show="grid.previewMove && moves.length % 2 == 1" style="width:95%; height:95%" />
                    </div>
                    <div ng-show="grid.move && grid.move.seq % 2 == 1" class="stone black">
                        <span>{{grid.move.seq}}</span>
                    </div>
                    <div ng-show="grid.move && grid.move.seq % 2 == 0" class="stone white">
                        <span>{{grid.move.seq}}</span>
                    </div>
<!--
                        <img src="./images/board/black.png" ng-show="grid.previewMove && !grid.move" ng-style="board.moveStyle" />
                        <img src="./images/board/black.png" ng-show="grid.move && grid.move.seq % 2 == 1" ng-style="board.moveStyle" />
                        <img src="./images/board/white.png" ng-show="grid.move && grid.move.seq % 2 == 0" ng-style="board.moveStyle" />
                    <span class="blackStoneText" ng-style="board.moveSeqStyle" ng-show="grid.move && grid.move.seq % 2 == 1">{{grid.move.seq}}</span>
                    <span class="whiteStoneText" ng-style="board.moveSeqStyle" ng-show="grid.move && grid.move.seq % 2 == 0">{{grid.move.seq}}</span>
-->
                </td>
                <td>
                    {{transOrigToReadableY(row.y, board.size)}}
                </td>
            </tr>
            
            <tr>
                <td></td>
                <td ng-repeat="x in board.xAxis">
                    {{x}}
                </td>
                <td></td>
            </tr>
        </table>
    </div>
    
</body>
    
</html>