<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/pages/game.css">
    
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/angular.min.js"></script>
    <!--<script src="/socket.io/socket.io.js"></script>-->
    <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
    
    <script src="javascripts/pages/game.js"></script>
    <script src="javascripts/tools.js"></script>

</head>

<body>
    <div ng-app="gamePage" ng-controller="gameController" class="container-fluid">
        <div class="row" style="background-color:#337ab7; height:60px">
            <div class="col-sm-9">
                <div style="color:white; font-size:28px; font-weight:bold; margin-top:10px">Renju Online</div>
            </div>
            
            <div class="col-sm-3" style="text-align:right">
                <div style="color:white; font-size:16px; margin-top:20px; margin-right:10px; display:inline-block;">{{username}}</div>
                <button class="btn" style="margin-top:0px" ng-click="logout()">
                    <span class="glyphicon glyphicon-log-out"></span>
                </button>
            </div>
            
        </div>
        
        <div class="alert alert-info" role="alert" ng-show="message" style="position:absolute; z-index:99; margin-top:5px">
                <span class="glyphicon glyphicon-remove-sign" aria-hidden="true" ng-click="closeMessage()" style="cursor: pointer;"></span>
                {{message}}
        </div>
        
        <div class="row" style="margin-top:20px">
            <div id="divBoard" class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div style="text-align:center">
                            <span>Black:{{game.black}}</span>-<span>White:{{game.white}}</span>
                        </div>
                        <div style="background-color:#FFCC66; padding:2px; border: 2px solid #FFCC66; border-radius: 10px; text-align:center">
                            <svg id="svgBoard" ng-attr-height="{{board.height}}" ng-attr-width="{{board.width}}" 
                                 style="background-color:#FFCC66; align:center" 
                                 ng-click="clickOnBoard($event)" ng-mousemove="mouseOnBoard($event)" ng-mouseleave="mouseOutBoard()">                                                              
                                <!-- X line -->
                                <line ng-repeat="i in getNumber(board.size) track by $index" 
                                      ng-attr-x1="{{board.gridWidth / 2}}" 
                                      ng-attr-y1="{{$index * board.gridHeight + board.gridHeight / 2}}" 
                                      ng-attr-x2="{{board.width - board.gridWidth / 2}}" 
                                      ng-attr-y2="{{$index * board.gridHeight + board.gridHeight / 2}}" class="boardLine"></line>
                                
                                <!-- Y line -->
                                <line ng-repeat="i in getNumber(board.size) track by $index" 
                                      ng-attr-x1="{{$index * board.gridWidth + board.gridWidth / 2}}" 
                                      ng-attr-y1="{{board.gridHeight / 2}}" 
                                      ng-attr-x2="{{$index * board.gridWidth + board.gridWidth / 2}}" 
                                      ng-attr-y2="{{board.height - board.gridHeight / 2}}" class="boardLine"></line>
                                
                                <!-- Bold point -->
                                <circle ng-repeat="boldPoint in board.boldPoints" 
                                        ng-attr-cx="{{board.gridWidth / 2 + boldPoint.x * board.gridWidth}}" 
                                        ng-attr-cy="{{board.gridHeight / 2 + boldPoint.y * board.gridHeight}}"
                                        ng-attr-r="{{(board.gridHeight > board.gridWidth ? board.gridHeight : board.gridWidth) / 10}}" 
                                        ng-attr-stroke="black" ng-attr-stroke-width="3" fill="black" />
                                
                                <!-- Preview stone -->
                                <circle ng-hide="!moveOnOrdinate"
                                        ng-attr-cx="{{board.gridWidth / 2 + moveOnOrdinate.x * board.gridWidth}}" 
                                        ng-attr-cy="{{board.gridHeight / 2 + moveOnOrdinate.y * board.gridHeight}}"
                                        ng-attr-r="{{(board.gridHeight > board.gridWidth ? board.gridHeight : board.gridWidth) * 0.48}}" 
                                        stroke="black" width="3" 
                                        fill="{{moves.length % 2 == 0? 'black' : 'white'}}"/>
                                
                                <!-- Stones -->
                                <circle ng-repeat="move in moves"
                                        ng-attr-cx="{{board.gridWidth / 2 + move.ordinate.x * board.gridWidth}}" 
                                        ng-attr-cy="{{board.gridHeight / 2 + move.ordinate.y * board.gridHeight}}"
                                        ng-attr-r="{{(board.gridHeight > board.gridWidth ? board.gridHeight : board.gridWidth) * 0.48}}" 
                                        stroke="black" width="3" 
                                        fill="{{move.seq % 2 == 1? 'black' : 'white'}}" />
                                
                              Sorry, your browser does not support inline SVG.
                            </svg>
                        </div>
                    </div>
                    
                    <div class="panel-footer">
                        <button class="">Draw</button>
                        <button class="">Resign</button>
                        <button class="">Pass</button>
                        <button class="">Undo</button>
                        <button class="">Quit</button>
                    </div>
                    
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-default">
                     <div class="panel-body">
                        Message Area
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="modalDraw" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalLabel">Draw Request</h4>
                    </div>
                    <div class="modal-body">
                        Draw Request from {{invite.from}}.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"  data-dismiss="modal" ng-click="acceptInvite()">
                            Accept
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="rejectInvite()">
                            Reject
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</body>
    
</html>