
<!-- [[[ game ]]] -->
<div class="row  full-height" style="margin: auto;">
    
    <div class="col-sm-2">
        <div id="divGameInfo" class="panel panel-default">
            <div class="panel-heading" style="text-align:center">
                <h4 class="panel-title">Game No.{{game.seq}}</h4>
                <span class="btn btn-default" ng-click="isShowNumber = (isShowNumber ? false : true)"
                          style="padding:4px 2px; color:grey; font-size:10px; float:right; margin-right:-10px">
                    <span class="glyphicon glyphicon-check" ng-show="isShowNumber"></span>
                    <span class="glyphicon glyphicon-unchecked" ng-show="!isShowNumber"></span>
                    show number
                </span>
            </div>
            <div class="panel-body" >
                    <div class="game-info row">
                        
                        <div>
                            Move {{game.moves.length + 1}}  
                        </div>
                        
                        <div>
                            <img src="./images/board/black.png" style="width:20px; vertical-align:bottom" />
                            {{game.black.nickname}}
                            <span ng-show="isBlackTurn()" class="badge">Turn</span>
                        </div>
                        
                        <div>
                            <img src="./images/board/white.png" style="width:20px; vertical-align:bottom" />
                            {{game.white.nickname}}
                            <span ng-show="isWhiteTurn()" class="badge">Turn</span>
                        </div> 
                        
                        <div>
                            <span ng-show="game.isRating"><span class="glyphicon glyphicon-ok"></span>Rated</span>
                            <span ng-show="!game.isRating"><span class="glyphicon glyphicon-remove"></span>Non-rated</span>
                        </div>
                        
                        <div>
                            <span class="glyphicon glyphicon-blackboard"></span><span>Renju Rule</span>
                        </div>
                        
                        
                    </div>
                    <div>
                        <span style="font-size:16px; font-weight:bold; float:left; width:70%">
                            
                        </span>
                    </div>
            </div>
        </div>
    </div>

    <div class="col-sm-7">
        <div id="divGameAction" ng-show="game && isMyGame() && game.status != 'finished'">
            <button class="" ng-show="!isMyTurn()" ng-click="confirmDrawRequest()">Draw</button>
            <button class="" ng-show="true" ng-click="confirmResign()" >Resign</button>
            <button class="" ng-show="isMyTurn()" ng-click="confirmPass()" >Pass</button>
            <button class="" ng-show="!isMyTurn() && game.moves.length >=10" >Undo</button>
            <button class="" ng-show="game && !isMyGame || (game.status == 'finished')" ng-click="quitGame()">Quit</button>
        </div>
        
        <div id="divGameBoard" style="text-align:center">
            
            <table style="margin-left:auto; margin-right:auto">
                <tr>
                    <td></td>
                    <td ng-repeat="x in board.xAxis">
                        {{x}}
                    </td>
                    <td></td>
                </tr>

                <tr ng-repeat="row in board.grids">
                    <td>
                        {{transOrigToReadableY(row.y, board.size)}}
                    </td>
                    <td ng-repeat="grid in row" ng-style="grid.style" 
                        ng-click="clickOnBoard(grid)"
                        ng-mousemove="mouseOnBoard(grid)" ng-mouseleave="mouseOutBoard(grid)">
                        <div ng-show="!grid.move && !board.firstClickMove && (grid.ordinate.x == board.previewMove.ordinate.x && grid.ordinate.y == board.previewMove.ordinate.y)" >
                            <img src="./images/board/black.png" ng-show="game.moves.length % 2 == 0" 
                                 style="opacity: 0.4; width:95%; height:95%" />
                            <img src="./images/board/white.png" ng-show="game.moves.length % 2 == 1" 
                                 style="opacity: 0.4; width:95%; height:95%" />
                        </div>
                        
                        <div ng-show="board.firstClickMove && game.moves.length % 2 == 0 && (grid.ordinate.x == board.firstClickMove.ordinate.x && grid.ordinate.y == board.firstClickMove.ordinate.y)" 
                             class="stone black" style="opacity: 0.80">
                            <span data-toggle="tooltip" data-placement="right" title="Tooltip on right">Ok?</span>
                        </div>
                        <div ng-show="board.firstClickMove && game.moves.length % 2 == 1 && (grid.ordinate.x == board.firstClickMove.ordinate.x && grid.ordinate.y == board.firstClickMove.ordinate.y)" class="stone white" style="opacity: 0.80">
                            <span data-toggle="tooltip" data-placement="right" title="Tooltip on right">Ok?</span>
                        </div>
                        
                        <div ng-show="grid.move && grid.move.seq % 2 == 1" class="stone black">
                            <span ng-show="isShowNumber">{{grid.move.seq}}</span>
                        </div>
                        <div ng-show="grid.move && grid.move.seq % 2 == 0" class="stone white">
                            <span ng-show="isShowNumber">{{grid.move.seq}}</span>
                        </div>
                    </td>
                    <td>
                        {{transOrigToReadableY(row.y, board.size)}}
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td ng-repeat="x in board.xAxis">
                        {{x}}
                    </td>
                    <td></td>
                </tr>
            </table>
            
            <div style="margin:16px" ng-show="board.firstClickMove">
                <button class="btn btn-primary"  ng-click="confirmNextMove()">
                    <span class="glyphicon glyphicon-ok">Ok</span>
                </button>
            </div>
            
        </div>
    </div>
    
    <div class="col-sm-3  full-height">
        <div class="panel panel-default full-height">
            <h4 class="panel-title">Game No.{{game.seq}} Channel</h4>
            <div class="panel-body full-height">
                <div style="width:100%; height:90%;">
                    <pre style="height: 100%">{{gameRootChat}}</pre>
                </div>
                <div class="input-group" style="margin-top:5%">
                    <input type="text" class="form-control" placeholder="Your message" ng-model="chatOut">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="chatInGame()">Send</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    
</div>