
<!-- [[[ game ]]] -->
<div class="row  full-height" style="margin: auto;">
    
    <div class="col-sm-2">
        <div id="divGameInfo" class="panel panel-default">
            <div class="panel-heading" style="text-align:center">
                <h3 class="panel-title">No.0000001</h3>
                <span class="btn btn-default" ng-click="isShowNumber = (isShowNumber ? false : true)"
                          style="padding:4px 2px; color:grey; font-size:10px; float:right;">
                    <span class="glyphicon glyphicon-check" ng-show="isShowNumber"></span>
                    <span class="glyphicon glyphicon-unchecked" ng-show="!isShowNumber"></span>
                    show number
                </span>
            </div>
            <div class="panel-body" >
                    <div class="game-info row">
                        
                        <div>
                            Move {{user.myProgressingGame.moves.length + 1}}  
                        </div>
                        
                        <div>
                            <img src="./images/board/black.png" style="width:20px; vertical-align:bottom" />
                            {{user.myProgressingGame.black.nickname}}
                        </div>
                        
                        <div>
                            <img src="./images/board/white.png" style="width:20px; vertical-align:bottom" />
                            {{user.myProgressingGame.white.nickname}}
                        </div> 
                        
                        <div>
                            <span>Rating.<span class="glyphicon glyphicon-ok"></span></span>
                            <span>Not Rating. <span class="glyphicon glyphicon-remove"></span> </span>
                        </div>
                        
                        <div>
                            
                            <span>Renju Rule.</span>
                        </div>
                        
                        
                    </div>
                    <div>
                        <span style="font-size:16px; font-weight:bold; float:left; width:70%">
                            
                        </span>
                    </div>
            </div>
        </div>
    </div>

    <div class="col-sm-7">
        <div id="divGameAction">
            <button class="" ng-show="game && isMyGame && (game.status != 'finished') && !isMyTurn() && moves.length >=10 " ng-click="confirmDrawRequest()">Draw</button>
            <button class="" ng-show="game && isMyGame && (game.status != 'finished')&& moves.length >=10" ng-click="confirmResign()" >Resign</button>
            <button class="" ng-show="game && isMyGame && (game.status != 'finished')&& isMyTurn()" ng-click="confirmPass()" >Pass</button>
            <button class="" ng-show="game && isMyGame && (game.status != 'finished')&& !isMyTurn() && moves.length >=10" >Undo</button>
            <button class="" ng-show="game && !isMyGame || (game.status == 'finished')" ng-click="quitGame()">Quit</button>
        </div>
        
        <div id="divGameBoard">
            
            <table style="margin-left:auto; margin-right:auto">
                <tr>
                    <td></td>
                    <td ng-repeat="x in board.xAxis">
                        {{x}}
                    </td>
                    <td></td>
                </tr>

                <tr ng-repeat="row in board.grids">
                    <td>
                        {{transOrigToReadableY(row.y, board.size)}}
                    </td>
                    <td ng-repeat="grid in row" ng-style="grid.style" ng-mousemove="mouseOnBoard(grid)" ng-mouseleave="mouseOutBoard(grid)">
                        <div ng-show="!grid.move" >
                            <img src="./images/board/black.png" ng-show="grid.previewMove && moves.length % 2 == 0" style="width:95%; height:95%" />
                            <img src="./images/board/white.png" ng-show="grid.previewMove && moves.length % 2 == 1" style="width:95%; height:95%" />
                        </div>
                        <div ng-show="grid.move && grid.move.seq % 2 == 1" class="stone black">
                            <span ng-show="isShowNumber">{{grid.move.seq}}</span>
                        </div>
                        <div ng-show="grid.move && grid.move.seq % 2 == 0" class="stone white">
                            <span ng-show="isShowNumber">{{grid.move.seq}}</span>
                        </div>
                    </td>
                    <td>
                        {{transOrigToReadableY(row.y, board.size)}}
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td ng-repeat="x in board.xAxis">
                        {{x}}
                    </td>
                    <td></td>
                </tr>
            </table>
            
        </div>
    </div>
    
    <div class="col-sm-3  full-height">
        <div class="panel panel-default full-height">
            <div class="panel-body full-height">
                <div style="width:100%; height:90%;">
                    <pre style="height: 100%">{{lobbyChat}}</pre>
                </div>
                <div class="input-group" style="margin-top:5%">
                    <input type="text" class="form-control" placeholder="Your message" ng-model="chatContent">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="chatInGame()">Send</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    
</div>