
<!-- [[[ profile ]]] -->
<div id="divUserInfo" >
    <div class="container-fluid ">

        <h4>{{str_profile}}</h4>

        <div class="row user-info-field">
            <span class="col-sm-3" style="text-align:right">
                <span class="glyphicon glyphicon-user" style="color:#337ab7">  {{str_username}}: </span>
            </span>
            <span class="col-sm-3">
                {{userInfo.username}}
            </span>
        </div>

        <div class="row user-info-field">
            <span class="col-sm-3" style="text-align:right">
                <span class="glyphicon glyphicon-sunglasses" style="color:#337ab7">  {{str_nickname}}: </span>
            </span>
            <span class="col-sm-3">
                {{userInfo.nickname}}
            </span>
        </div>

        <div class="row user-info-field">
            <span class="col-sm-3" style="text-align:right">
                <span class="glyphicon glyphicon-envelope" style="color:#337ab7">  {{str_email}}: </span>
            </span>
            <span class="col-sm-3">
                {{userInfo.email}}
            </span>
        </div>

        <div class="row">
            <span class="col-sm-3" style="text-align:right">
                <span class="glyphicon glyphicon-signal" style="color:#337ab7">  {{str_rank}}: </span>
            </span>
            <span class="col-sm-3">
                {{userInfo.rating}} &nbsp;
            </span>

            <span class="col-sm-3" style="text-align:right">
                <span class="glyphicon glyphicon-hand-up" style="color:#337ab7"> {{str_record}}:</span>
            </span>
            <span class="col-sm-3">
                {{userInfo.win}} / {{userInfo.loss}} / {{userInfo.draw}} 
                ({{ration}}%)
            </span>
        </div>
    </div>
</div>

<div id="divHistory" class="container-fluid" >
    <h4>{{str_last10Games}}</h4>
    <div class="row">
        <table class="table table-striped" width="100%">
            <tr>
                <th class="text-center">{{str_number}}</th>
                <th></th>
                <th class="text-center">{{str_black}}</th>
                <th class="text-center">{{str_white}}</th>
                <th class="text-center">{{str_rule}}</th>
                <th class="text-center">{{str_moves}}</th>
                <th class="text-left">{{str_result}}</th>
                <th class="text-center"></th>
            </tr>
            <tr ng-repeat="g in userLatestGames">
                <td>{{g.seq}}</td>
                <td><span ng-show="g.isRating" class="glyphicon glyphicon-signal" style="color:#337ab7"></span></td>
                <td style="text-align:left">{{g.black.nickname}} <span class="badge" ng-show="g.winner.username === g.black.username">win</span></td>
                <td style="text-align:left">{{g.white.nickname}} <span class="badge" ng-show="g.winner.username === g.white.username">win</span></td>
                <td>{{translate_serverMsg(g.rule)}}</td>
                <td style="text-align:center">{{g.moves.length}}</td>
                <td style="text-align:left">{{translate_result(g.result)}}</td>
                <td>
                    <span class="glyphicon glyphicon-new-window" style="color:#C77C25; cursor:pointer" ng-click="showStudyBoard(g)"></span>
                </td>
            </tr>
        </table>
    </div>
</div>