
<!-- [[[ Lobby ]]] -->
<div class="row  full-height" style="margin: auto;">

    <div class="col-sm-9">
    
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#userList">Users Online</a></li>
            <li><a data-toggle="tab" href="#awaitingGames">Awaiting Game</a></li>
            <li><a data-toggle="tab" href="#progressingGames">Progressing Game</a></li>
            <li><a data-toggle="tab" href="#annoucement">Annoucement</a></li>
        </ul>

        <div class="tab-content">
            <div id="userList" class="tab-pane fade in active">
                <table class="table table-striped" style="margin-top:10px" >
                    <tr>
                        <th class="text-center">Nickname</th>
                        <th class="text-center">Rank</th>
                        <th class="text-center" ng-show="user.role === 'admin'">Action</th>
                    </tr>
                    <tr ng-repeat="u in onlineUsers">
                        
                        <td>
                            {{u.nickname}}<span ng-show="u.username == user.username">(Me)</span>
                            <span ng-show="u.role === 'admin'" class="glyphicon glyphicon-user" 
                                  style="color:#414eb1;"
                                  data-toggle="tooltip" data-placement="Admin" title="This is Admin"></span>
                            <span ng-show="u.status === 'silent'" class="glyphicon glyphicon-volume-off"
                                 ></span>
                        </td>
                        <td>
                            {{u.rating}}
                        </td>
                        <td ng-show="user.role === 'admin'" style="width:200px">
                            <div ng-show="u.role != 'admin'">
                                <button class="btn btn-default btn-xs" ng-click="confirmBan(u)" ng-show="u.status != 'banned'">
                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                    Ban
                                </button>

                                <button class="btn btn-default btn-xs" ng-click="confirmKick(u)">
                                    <span class="glyphicon glyphicon-screenshot"></span>
                                    Kick
                                </button>

                                <button class="btn btn-default btn-xs" ng-click="confirmMute(u)" ng-show="u.status != 'silent'">
                                    <span class="glyphicon glyphicon-volume-off"></span>
                                    Mute
                                </button>
                                <button class="btn btn-default btn-xs" ng-click="unmute(u)" ng-show="u.status === 'silent'">
                                    <span class="glyphicon glyphicon-volume-up"></span>
                                    Un-Mute
                                </button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div id="awaitingGames" class="tab-pane fade">
                <div class="container-fluid" style="padding-top:10px">
                    <button class="btn btn-primary" ng-click="openGreateGameModal()" ng-hide="user.myCreatedGame">
                        <span class="glyphicon glyphicon-plus-sign"></span>  
                        Create Game
                    </button>
                    <button class="btn btn-default" ng-click="cancelMyCreatedGame()" ng-show="user.myCreatedGame">
                        <span class="glyphicon glyphicon-minus-sign"></span>  
                        Cancel Game
                    </button>
                    
                    <table class="table table-striped" style="margin-top:10px" >
                        <tr>
                            <th class="text-center">NO</th>
                            <th class="text-center">Creator</th><th class="text-center">Rule</th><th class="text-center">Time rule</th>
                            <th class="text-center">Rating</th><th class="text-center">Tentitive Black</th>
                            <th class="text-center">Only With</th><th class="text-center">Action</th>
                        </tr>
                        <tr ng-repeat="g in createdGames">
                            <td>{{g.seq}}</td>
                            <td>{{g.creator.nickname}}<span ng-show="g.creator.username == user.username">(Me)</span></td>
                            <td>
                                {{g.rule}}
                            </td>
                            <td>
                                <span ng-show="g.timeRule.perBasicTime">Basic Time {{g.timeRule.perBasicTime}} mins.</span>
                                <span ng-show="g.timeRule.perMoveTime">Per Move {{g.timeRule.perMoveTime}} secs.</span>
                                <span ng-show="g.timeRule.perMovePlusTime">Plus Per Move {{g.timeRule.perMovePlusTime}} secs.</span>
                            </td>
                            <td>
                                <span class="glyphicon glyphicon-ok" ng-show="g.isRating"></span>
                                <span class="glyphicon glyphicon-remove" ng-show="!g.isRating"></span>
                            </td>
                            <td>
                                <span ng-show="g.isTempBlack">{{g.creator.nickname}}</span>
                                <span ng-show="!g.isTempBlack">Participant</span>
                            </td>
                            <td>
                                <span ng-show="g.isTempBlack">{{g.specificOpp.nickname}}</span>
                            </td>
                            <td>
                                <button class="btn btn-info" ng-click="joinGame(g)" 
                                        ng-hide="g.creator.username === user.username || g.specificOpp.username !== user.username">
                                    <span class="glyphicon glyphicon-road"></span>  
                                    Join
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div id="progressingGames" class="tab-pane fade">
                <table class="table table-striped" style="margin-top:10px" >
                    <tr>
                        <th class="text-center">NO</th>
                        <th class="text-center">Creator</th><th class="text-center">Rule</th><th class="text-center">Time rule</th>
                        <th class="text-center">Rating</th><th class="text-center">Opener</th><th class="text-center">Action</th>
                    </tr>
                    <tr ng-repeat="g in progressingGames">
                        <td>{{g.seq}}</td>
                        <td>{{g.creator.nickname}}<span ng-show="g.creator.username == user.username">(Me)</span></td>
                        <td>
                            {{g.rule}}
                        </td>
                        <td>
                            <span ng-show="g.timeRule.perBasicTime">Basic Time {{g.timeRule.perBasicTime}} mins.</span>
                            <span ng-show="g.timeRule.perMoveTime">Per Move {{g.timeRule.perMoveTime}} secs.</span>
                            <span ng-show="g.timeRule.perMovePlusTime">Plus Per Move {{g.timeRule.perMovePlusTime}} secs.</span>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-ok" ng-show="g.isRating"></span>
                            <span class="glyphicon glyphicon-remove" ng-show="!g.isRating"></span>
                        </td>
                        <td>
                            <span>{{g.tempBlack.nickname}}</span>
                        </td>
                        <td>
                            <button class="btn btn-info" ng-click="watchGame(g)" ng-hide="g.creator.username == user.username">
                                <span class="glyphicon glyphicon-road"></span>  
                                Watch
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
            
            <div id="annoucement" class="tab-pane fade"  >
                <div ng-app="announce " ng-controller="announceController" ng-include="'./announce/_list.html'" 
                     ng-hide="editingAnnounce"
                     class="announce-list-show-hide">
                </div>
                <div ng-app="announceEdit" ng-controller="announceEditController" ng-include="'./announce/_edit.html'" 
                     ng-show="editingAnnounce"
                     class="announce-edit-show-hide">
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-sm-3  full-height">
        <div class="panel panel-default full-height">
            <div class="panel-body full-height">
                <div style="width:100%; height:90%;">
                    <pre style="height: 100%">{{lobbyChat}}</pre>
                </div>
                <form role="form">
                    <div class="input-group" style="margin-top:5%">
                        <input type="text" class="form-control" placeholder="Your message" ng-model="lobbyChatOut.content">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit" ng-click="chatInLobby()">Send</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="createGameDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalLabel">Create a game</h4>
                </div>
                
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <label>Opponent:</label>
                            <span style="border:solid 1px #d3e7f0; background-color:#e0f2f5; border-radius:8px; padding:2px 4px; margin-top: 2px; margin-right: 8px; margin-bottom: 2px; margin-left: 2px;"
                                  ng-show="newGame.specificOpp"> 
                                {{newGame.specificOpp.nickname}} 
                                <span class="glyphicon glyphicon-minus"  ng-click="cancelChooseOpp()" style="cursor:pointer; color:#c1c5e2"></span>
                            </span>
                            <button class="btn btn-primary btn-xs" ng-click="openChooseOppDialog()">
                                <span class="glyphicon glyphicon-user">
                                </span>
                            </button>
                        </div>
                        <div class="row">
                            <label >Rule:</label>
                            <span style="width:100%">
                                    <input type="radio" ng-model="newGame.rule" value="gomoku"/>Gomoku
                                    <input type="radio" ng-model="newGame.rule" value="renju"/>Renju
                                    <input type="radio" ng-model="newGame.rule" value="classic"/>Classic Rule
                                    <input type="radio" ng-model="newGame.rule" value="yamaguchi"/>Yamaguchi
                            </span>
                        </div>
                        <div class="row" style="border-top:1px solid #ddd; border-bottom:1px solid #ddd">
                                <label>Time Rule:</label>
                                <span>

                                    <div class="container-fluid" style="padding-left:30px">
                                        <div class="row">
                                            <label><input type="checkbox" ng-model="newGame.hasBasicTime" />Basic Time</label>
                                            <span>
                                                <input type="text" ng-model="newGame.basicTime" ng-disabled="!newGame.hasBasicTime" 
                                                       class="form-control time-limit" size="5"/>
                                                min
                                            </span>
                                        </div>
                                        <div class="row">
                                            <label><input type="checkbox" ng-model="newGame.hasPerMoveTime" />Time per Move</label>
                                            <span>
                                                <input type="text" ng-model="newGame.perMoveTime" ng-disabled="!newGame.hasPerMoveTime" 
                                                       class="form-control time-limit" size="5"></input>
                                                seconds
                                            </span>
                                        </div>
                                        <div class="row">
                                            <label><input type="checkbox" ng-model="newGame.hasPlusTime" />Plus Time per Move</label>
                                            <span>
                                                <input type="text" ng-model="newGame.perMovePlusTime" ng-disabled="!newGame.hasPlusTime" 
                                                       class="form-control time-limit" size="5" style="text-align:right;"></input>
                                                seconds
                                            </span>
                                        </div>
                                    </div>
                                </span>
                        </div>
                        <div class="row">
                            <lable>
                                <input type="checkbox" ng-model="newGame.isTentitiveBlack" />
                                Tentitive black?
                            </lable>
                        </div>
                        <div class="row">
                            <span><input type="checkbox" ng-model="newGame.isRating" />Rating game?</span>
                        </div>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"  data-dismiss="modal" ng-click="confirmCreteGame()">
                        <span class="glyphicon glyphicon-ok"></span>
                        Create
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"  ng-click="cancelCreateGame()">
                        <span class="glyphicon glyphicon-remove"></span>
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="chooseOppDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    
                    <div class="container-fluid">
                        <input ng-model="searchOpp.any" placeholder="Search"
                               style="border-radius: 4px; padding: 2px; border: 1px solid #999; background-color: #EEEEEE;"></input>
                        <table class="table table-striped" style="margin-top:10px" >
                            <tr>
                                <th class="text-center">Nickname</th>
                                <th class="text-center">Rank</th>
                            </tr>
                            
                            <tr ng-repeat="u in onlineUsers | filter: chooseOppFilter">
                                <td>
                                    {{u.nickname}}
                                    <button class="btn btn-default btn-xs" ng-click="chooseOpp(u)" data-dismiss="modal">
                                        <span class="glyphicon glyphicon-hand-left" ></span>
                                    </button>
                                </td>
                                <td>
                                    {{u.rating}}
                                </td>
                            </tr>
                        </table>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>

</div>