<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    
    <script src="../javascripts/jquery.min.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <script src="../javascripts/angular.min.js"></script>
    
    <script src="../javascripts/pages/account.js"></script>
</head>

<body>
	
    <div ng-app="account" ng-controller="accountController" class="container-fruid">
        <div ng-include="'../header.html'"></div>
		<div class="container" style="text-align:center">
            <h3>申請帳號 / Create a New Account</h3>
            <div class="alert alert-success" id="success-alert" style="position:absolute; z-index:99;">
                <button type="button" class="close-message" ng-click="hideMessage()">x</button>
                <strong>{{messageTitle}}</strong>
                {{messageContent}}
            </div>
		</div>
        
        <div class="container">
            <form novalidate class="form-horizontal">
                <span class="form-group">
                    <label class="col-sm-2 control-label">帳號 / Account</label>
                    <span class="col-sm-10" style="position: relative">
                        <input 
							type="text" 
							ng-model="username" 
							ng-model-options="{debounce: 2000}";
							ng-change="check_username()";
							class="form-control" 
							placeholder="Account" 
							required
						/> 
						<span class="label label-success" ng-show="username && usernameOk" 
							style="float: right; top: 8px; position: absolute;  right: 25px;">
							<span class="glyphicon glyphicon-ok"></span>
						</span>
						<span class="label label-danger" ng-show="username && !usernameOk"
							style="float: right; top: 8px; position: absolute;  right: 25px;">
							<span class="glyphicon glyphicon-remove"></span>
							已存在/Unavailiable
						</span>
	                </span>
                </span>
                <span class="form-group">
                    <label class="col-sm-2 control-label">暱稱 / Nickname</label>
                    <span class="col-sm-10">
                        <input 
							type="text" 
							ng-model="nickname" 
							ng-model-options="{debounce: 2000}";
							ng-change="check_nickname()";
							class="form-control" 
							placeholder="Nickname" 
							required
						/> 
						<span class="label label-success" ng-show="nickname && nicknameOk" 
							style="float: right; top: 8px; position: absolute;  right: 25px;">
							<span class="glyphicon glyphicon-ok"></span>
						</span>
						<span class="label label-danger" ng-show="nickname && !nicknameOk"
							style="float: right; top: 8px; position: absolute;  right: 25px;">
							<span class="glyphicon glyphicon-remove"></span>
							已存在/Unavailiable
						</span>
                    </span>
                </span>
                <span class="form-group">
                    <label class="col-sm-2 control-label">密碼 / Password</label>
                    <span class="col-sm-10">
                        <input type="text" ng-model="password" class="form-control" placeholder="Password" required/> 
                    </span>
                </span>
                <span class="form-group">
                    <label class="col-sm-2 control-label">信箱 / email</label>
                    <span class="col-sm-10">
                        <input 
							type="text" 
							ng-model="email" 
							ng-model-options="{debounce: 2000}";
							ng-change="check_email()";
							class="form-control" 
							placeholder="E-mail" 
							required
						/> 
						<span class="label label-success" ng-show="email && emailOk" 
							style="float: right; top: 8px; position: absolute;  right: 25px;">
							<span class="glyphicon glyphicon-ok"></span>
						</span>
						<span class="label label-danger" ng-show="email && !emailOk"
							style="float: right; top: 8px; position: absolute;  right: 25px;">
							<span class="glyphicon glyphicon-remove"></span>
							已存在/Unavailiable
						</span>
                    </span>
                </span>
            
                <span class="form-group">
					<label class="col-sm-2 control-label">語言 / language</label>
					<span class="col-sm-10">
						<select ng-model="language" class="form-control">
						<option value="chinese">中文</option>
						<option value="english">English</option>
						</select>
					</span>
				</span>
				
				<div class="container" style="text-align:center">
                    <button class="btn" ng-disabled="!language || !usernameOk || !nicknameOk || !password || !emailOk || !username || !nickname || !email" ng-click="create()">                    
                        申請 / Apply
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>
    
</html>