<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    
    <script src="../javascripts/jquery.min.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <script src="../javascripts/angular.min.js"></script>
    
    <script src="../javascripts/pages/account.js"></script>
</head>

<body>
    <div ng-app="account" ng-controller="accountController" class="container-fruid">
        <div ng-include="'../header.html'"></div>
		<div class="container" style="text-align:center">
            <h3>重寄認證信 / Resend Verification Mail * 重設密碼 / Reset Password</h3>
            <div class="alert alert-success" id="success-alert" style="position:absolute; z-index:99;">
                <button type="button" class="close-message" ng-click="hideMessage()">x</button>
                <strong>{{messageTitle}}</strong>
                {{messageContent}}
            </div>
        </div>
        <center>請輸入帳號 或 email / please provide your username or email</center>
        <div class="container">
            <form novalidate class="form-horizontal">
                <span class="form-group">
                    <label class="col-sm-2 control-label">帳號 / Account</label>
                    <span class="col-sm-10">
                        <input type="text" ng-model="username" class="form-control" placeholder="Username" required/> 
                    </span>
                </span>
                <span class="form-group">
                    <label class="col-sm-2 control-label">信箱 / email</label>
                    <span class="col-sm-10">
                        <input type="text" ng-model="email" class="form-control" placeholder="E-mail" required/> 
                    </span>
                </span>
            
                <div class="container" style="text-align:center">
                    <button class="btn" ng-click="reverify()">                    
                        重寄認證信 / Resend Verification Mail
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                	<button class="btn" ng-click="reset()">                    
                        重設密碼 / Reset Password
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
				<center><h3>更新密碼 / Renew Password</h3></center>
				<span class="form-group">
                    <label class="col-sm-2 control-label">帳號 / Account</label>
                    <span class="col-sm-10">
                        <input type="text" ng-model="username" class="form-control" placeholder="Username" required/> 
                    </span>
                </span>
                <span class="form-group">
                    <label class="col-sm-2 control-label">舊密碼 / Original Password</label>
                    <span class="col-sm-10">
                        <input type="text" ng-model="password" class="form-control" placeholder="Original Password" required/> 
                    </span>
                </span>
				<span class="form-group">
                    <label class="col-sm-2 control-label">新密碼 / New Password</label>
                    <span class="col-sm-10">
                        <input type="text" ng-model="newPsd" class="form-control" placeholder="New Password" required/> 
                    </span>
                </span>
                <span class="form-group">
                    <label class="col-sm-2 control-label">確認新密碼 / Repeat New Password</label>
                    <span class="col-sm-10">
                        <input type="text" ng-model="newPsd2" class="form-control" placeholder="Repeat New Password" required/> 
                    </span>
                </span>
			   	<div class="container" style="text-align:center">
					<button class="btn" ng-click="renew()">                    
						更新密碼 / Renew Password
						<span class="glyphicon glyphicon-plus"></span>
					</button>
				</div>
            </form>
        </div>
		
    </div>
</body>
    
</html>